body
{
	font-size:8pt; 
	font-family:"Helvetica Neue", Helvetica, Sans-serif;
	background-color:#FFF;
	color: #B1B0A9;
	max-width:750px;
	max-height:410px;
}



a {outline: none;}
a:link {text-decoration:none; color:#B1B0A9;}
a:visited {text-decoration:none; color:#B1B0A9;}
a:hover {text-decoration:none; color: #E4E5E3;}
a:active {text-decoration:none; color: #E4E5E3;}

/*Sets menu style*/
#menu {max-width:65px;}

#menu_p 
{
	text-align:right;
	margin-top:0em;
	margin-bottom:0em;
}

#submenu1
{
	max-width:110px;
	margin-left:65px;
}

#submenu2
{
	max-width:110px;
	margin-left:65px;
}

#submenu3
{
	max-width:110px;
	margin-left:65px;
}

#submenu_p
{
	text-align:left;
	margin-top:0em;
	margin-bottom:0em;
}
