body
{
	font-size:8pt; 
	font-family:"Helvetica Neue", Helvetica, Sans-serif;
	background-color:#FFF;
	color: #999999;
	max-height:410px;
	max-width:750px;
}



a {outline: none;}
a:link {text-decoration:none; color:#999999;}
a:visited {text-decoration:none; color:#999999;}
a:hover {text-decoration:none; color: #CCCCCC;}
a:active {text-decoration:none; color: #CCCCCC;}

/*Sets menu style*/
#menu {max-width:65px;}

#menu_p 
{
	text-align:right;
	margin-top:0em;
	margin-bottom:0em;
}

#submenu1
{
	max-width:110px;
	margin-left:65px;
}

#submenu2
{
	max-width:110px;
	margin-left:65px;
}

#submenu3
{
	max-width:110px;
	margin-left:65px;
}

#submenu_p
{
	text-align:left;
	margin-top:0em;
	margin-bottom:0em;
}

/*Logo Positioning*/
#logo_div
{
	position:absolute;
	left:640px;
	top:375px;

}

#logo_p
{
	font-size:32;
	margin-top:0em;
	margin-bottom:0em;
}